<div class="row pad-top mt-5">
  <div class="col-xl-8 offset-xl-2">
    <h3>COMPANIES</h3>
  </div>
</div>
<div class="row pad-top mt-5">
  <div class="col-xl-8 offset-xl-2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Valid Licence Till</th>
          <th scope="col">Contact Person</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let company of companies'>
          <td>{{company?.name}}</td>
          <td>{{company?.address}}</td>
          <td>{{company?.validLicenceTill}}</td>
          <td>{{company?.contactPerson}}</td>
          <td>
            <button class="btn btn-success btn-sm" [routerLink]="[company.name]"><i class="fa fa-edit"></i></button>
            <button class="btn btn-primary btn-sm" [routerLink]="['add']"><i class="fa fas fa-plus"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
