<nav class="sidebar">
  <ul class="nav nav-pills flex-column" id="sidebarList">
    <li class="nav-item li-hover">
      <a class="nav-link" [routerLink]="['users']" >
        <i class="fa fa-users text-success mr-3"></i>
        <span class="text-light">Users</span>
      </a>
    </li>
    <li class="nav-item li-hover">
      <a class="nav-link" [routerLink]="['items']" >
        <i class="fa fa-sitemap text-danger mr-3"></i>
        <span class="text-light">Items</span>
      </a>
    </li>
    <li class="nav-item li-hover">
      <a class="nav-link" [routerLink]="['companies']" >
        <i class="fa fa-building text-warning mr-3"></i>
        <span class="text-light">Companies</span>
      </a>
    </li>
  </ul>
  </nav>

